.adipoli-wrapper
{
    padding: 0 3px;
    position: relative;
    display: inline-block !important;
}
.adipoli-wrapper>img
{
    position: absolute;
    z-index: 1;
}
.adipoli-before
{
    position: absolute;
    z-index: 3;
}
.adipoli-after
{
    position: absolute;
    z-index: 4;
}
.adipoli-slice {
    display:block;
    position:absolute;
    z-index:4;
    height:100%;
}
.adipoli-box
{
    display:block;
    position:absolute;
    z-index:4;
}